<!DOCTYPE html>
<html ng-app="parking" xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
	<head>
		<title>Parking</title>
		<script src="js/lib/lodash.js"></script>
		<script src="js/lib/angular.js"></script>
		<script src="js/lib/angular-locale_ro-md.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/filters.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="styles/app.css">
	</head>
	<body ng-controller="parkingCtrl">
		<div class="jumbotron text-center ">
			<h1 ng-bind="appTitle"></h1>
			
			<div class="col-md-4 col-md-offset-4">
				<input type="text" class="form-control" ng-model="criteria" placeholder="What are you looking for?">
				<br/>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<table class="table table-bordered" style="width: 640px" ng-show="cars.length > 0">
						<thead>
							<tr>
								<th class="text-center"><input type="checkbox"  /></th>
								<th class="text-center">
									<a href="" ng-click="field = 'plate'; order=!order">Plate</a>
								</th>
								<th class="text-center">
									<a href="" ng-click="field = 'color'; order=!order">Color</a>
								</th>
								<th class="text-center">
									<a href="" ng-click="field = 'entrace'; order=!order">Entrace</a>
								</th>
								<th class="text-center">
									<a href="" ng-click="field = 'price'; order=!order">Price</a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class="{selecting: car.selected}" ng-repeat="car in cars|filter:criteria|orderBy:field:order" >
								<td ng-show="car.selected">
									<button class="btn btn-sm btn-danger" ng-click="deleteCar(car)">Delete</button>
								</td>
								<td>

									<input type="checkbox" ng-model="car.selected" />
								</td>
								<td ng-bind="car.plate|plate_whitespace"></td>
								<td ng-bind="car.color" ng-style="{color: car.color}"></td>
								<td ng-bind="car.entrace|date:'dd-MMMM-yyyy HH:mm:ss'"></td>
								<td ng-bind="car.price|currency:'&euro;'"></td>

							</tr>
						</tbody>
					</table>

					<div class="col-md-8 text-center" ng-hide="cars.length > 0">
						<h3>The parking lot is empty.</h3>
					</div>
					<form name="carForm">
						<div class="input-group" style="padding-left: 10%;">
							<input type="text" name="plateField" class="form-control" style="width: 150px" ng-required="true" ng-minlength="6" ng-maxlength="6" ng-pattern="/[A-Z]{3}[0-9]{3,6}/" ng-model="car.plate"  placeholder="Plate">
							<select class="form-control" style="width: 100px" ng-required="true" ng-model="car.color" ng-options="color for color in colors">
								<option value="">Color</option>
							</select>
							<input type="text" name="priceField" ng-required="true" class="form-control" style="width: 100px" ng-pattern="/[0-9]/" ng-model="car.price" placeholder="Price">
							<button class="btn btn-default" ng-click="park(car);newCar()" ng-disabled="carForm.$invalid">Park</button>
						</div>
						<div class="col-md-6" ng-show="(carForm.plateField.$dirty && carForm.plateField.$invalid) || (carForm.priceField.$dirty && carForm.priceField.$invalid)">
							<p class="text-danger" ng-show="carForm.plateField.$error.required">
								You must inform the plate of the car!
							</p>
							<p class="text-danger" ng-show="carForm.plateField.$error.minlength">
								The plate must have at least 6 characters!
							</p>
							<p class="text-danger" ng-show="carForm.plateField.$error.maxlength">
								The plate must have at most 6 characters!
							</p>
							<p class="text-danger" ng-show="carForm.plateField.$error.pattern">
								The plate must start with non-digits, followed by 4 to 6 numbers!
							</p>
							<p class="text-danger" ng-show="carForm.priceField.$error.pattern">
								The plate must start with non-digits!
							</p>

						</div>

					</form>

				</div>
					
			</div>
			
		</div>

	</body>
</html>